body{
    background-color: lightyellow;
}

h1{
    background-color: rgb(162, 199, 211);
    color: white
    ;
}

th{
    background-color: lightcyan;
    color: darkblue;
}

td{
    background-color: lightgrey;
}

i{
    color: purple;
}